PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASS=your_db_password
DB_NAME=agmrcet_db

JWT_SECRET=your_jwt_secret_key

GMAIL_USER=your_gmail_username
GMAIL_PASS=your_gmail_app_password
BASE_URL=https://www.agmrcet.ac.in

NODE_ENV=production

Personal_Number=+91XXXXXXXXXX
